.navbar-container{
    width: 100%;
    top:0;
    left: 0;
    position: fixed;
    border-top:0.3rem solid #142b6f;
    background-color: white;

}

.navbar-main{
    font-size: 1rem;
    line-height: 1.625rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    list-style-type: none;
    margin: 0 5.5rem;
    padding: 0;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navbar-main div{
display: flex;
justify-content: space-between;
width: 10rem;

margin: 0;}

.navbar-main a{
    text-decoration: none;
    padding: 0.89rem 0;
    color:#142b6f;
    border-bottom: 0.3rem solid transparent;
}
.ritual-logo:hover{
    border-bottom: 0.3rem solid transparent !important;
}
.navbar-main a:hover{
    transition: ease-in-out 0.3s;

    border-bottom: 0.3rem solid rgb(255, 214, 0) ; 

}

.cart-logo{
    display: flex;
    justify-content: flex-end;
}
